
body {
    background: #fff;
    font-family: "Muli";
font-weight:300;
	font-size:18px;
}

strong { font-weight: 600; }

a, a:hover, a:focus {
	color: #6d9bb5;
	text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

h2, h3 {
	margin-top: 10px;
	font-family: 'Muli', cursive;
	font-size: 50px;
    font-weight: 400;
    line-height: 54px;
}

img { max-width: 100%; }

::-moz-selection { background: #ccc; color: #fff; text-shadow: none; }
::selection { background: #ccc; color: #fff; text-shadow: none; }


/***** Top menu *****/

nav {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 998;
	background: #6d9bb5;
	font-size: 18px;
	color: #fff;
    line-height: 32px;
    text-align: center;
}

nav a {
	display: inline-block;
	margin: 0 15px;
	padding: 10px 0;
	color: #fff;
}
nav a:hover { color: #fff; }
nav a:focus { color: #fff; }

.show-menu, .hide-menu {
	position: absolute;
	top: -6px;
	right: 100px;
	padding: 0 20px;
	z-index: 999;
	text-align: center;
}
.hide-menu { top: -1px; }

.show-menu a, .hide-menu a {
	display: inline-block;
	width: 46px;
	height: 48px;
	padding-top: 11px;
	background: #6d9bb5;
	font-size: 21px;
	color: #fff;
}
.show-menu a:hover, .hide-menu a:hover { color: #fff; }


/***** Top content *****/

.top-content {
    margin: 0 auto;
    text-align: left;
    color: #fff;
}

.inner-bg {
    padding: 120px 0 80px 0;
	background:#57bed5
}

.top-content .phone {
	text-align: center;
}

.top-content .text {
}

.top-content .logo {
	padding-bottom: 20px;
}

.top-content .logo h1 {
	margin: 0;
}

.top-content .logo a {
	display: inline-block;
	width: 113px;
	height: 113px;
	background: url(../img/logo.png) center center no-repeat;
	text-indent: -99999px;
}

.top-content .logo a:before {
	content: url(../img/logo-hover.png);
	width: 0;
	height: 0;
	visibility: hidden;
}
.top-content .logo a:hover { background-image: url(../img/logo-hover.png); }

.top-content .description {
	margin: 40px 0 10px 0;
    font-size: 22px;
    line-height: 36px;
}

.top-content .top-button {
	margin-top: 40px;
}

.top-content .top-button i {
	padding-right: 3px;
	font-size: 28px;
	vertical-align: middle;
}

.top-content .top-arrow {
	margin-top: 50px;
	font-size: 36px;
}

.top-content .top-arrow i {
	position: relative;
	width: 100px;
	height: 37px;
	overflow: hidden;
	cursor: pointer;
}

.top-content .top-arrow i:before {
	position: absolute;
	top: 0;
	left: 5px;
}

.top-content .top-arrow i:after {
	content: "learn more";
	position: absolute;
	top: -30px;
	left: 0;
	width: 100px;
	font-family: 'Muli';
	font-size: 18px;
	font-weight: 300;
}

.top-content .top-arrow i:before, 
.top-content .top-arrow i:after {
	-o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.top-content .top-arrow i:hover:before { top: 40px; }
.top-content .top-arrow i:hover:after { top: 10px; }


/***** Features *****/

.features-container {
    margin: 0 auto;
    padding-bottom: 60px;
    color: #888;
    text-align: center;
}

.features {
    margin-top: 60px;
    padding-bottom: 10px;
}

.features h3 {
    color: #555;
}

.features p {
	margin-top: 30px;
	padding: 0 120px;
    font-size: 22px;
    line-height: 36px;
}

.features-box-1 {
	margin-top: 30px;
}

.features-box-1 h4 {
	padding: 10px 0;
	font-size: 30px;
    font-weight: 300;
    color: #555;
    line-height: 34px;
}

.features-box-1 p {
	font-size: 18px;
    line-height: 32px;
}

.features-box-1 .features-box-1-icon {
    width: 142px;
    height: 142px;
    margin: 0 auto;
    padding-top: 28px;
    background: #6d9bb5;
    border: 1px solid #6d9bb5;
    font-size: 56px;
    color: #fff;
    cursor: pointer;
    -moz-border-radius: 85px;
    -webkit-border-radius: 85px;
    border-radius: 85px;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.features-box-1 .features-box-1-icon:hover { background: #fff; border: 1px solid #57bed5; }
.features-box-1 .features-box-1-icon:hover i { color: #57bed5; }


/***** Single feature *****/

.single-feature-container {
    margin: 0 auto;
    text-align: center;
}

.single-feature-text {
    margin-top: 60px;
    padding-bottom: 10px;
}

.single-feature-text p {
	margin-top: 30px;
	padding: 0 120px;
    font-size: 22px;
    line-height: 36px;
}

.single-feature-img {
	margin-top: 30px;
}

.single-feature-bg {
	background: #57bed5;
	color: #fff;
}

.single-feature-no-bg {
	color: #888;
}

.single-feature-no-bg h3 {
	color: #555;
}


/***** Call to action *****/

.call-to-action-container {
    margin: 0 auto;
    padding-bottom: 60px;
    color: #888;
    text-align: center;
}

.call-to-action-text {
    margin-top: 60px;
    padding-bottom: 10px;
}

.call-to-action-text h3 {
	color: #888;
}

.call-to-action-text p {
	margin-top: 30px;
    font-size: 22px;
    line-height: 36px;
}

.call-to-action-button {
	margin-top: 40px;
}

.call-to-action-button i {
	padding-right: 8px;
	font-size: 42px;
	vertical-align: middle;
}


/***** Subscription form *****/

.subscribe-container {
	margin: 0 auto;
	padding-bottom: 50px;
	background: #f5f5f5;
	color: #888;
    text-align: center;
}

.subscribe {
    margin-top: 60px;
}

.subscribe h3 {
	color: #555;
}

.subscribe p {
	margin-top: 30px;
    font-size: 22px;
    line-height: 36px;
}

.subscribe form {
    margin-top: 40px;
    margin-bottom: 20px;
}

.subscribe form input {
    width: 362px;
    height: 52px;
}

.subscribe form button {
    width: 130px;
    height: 52px;
}

.success-message, .error-message {
    font-size: 22px;
    line-height: 36px;
}

.success-message {
	margin: 20px 0 10px 0;
}

.error-message {
	margin: 10px 0;
	color: #6d9bb5;
}


/***** Testimonials *****/
.testimonials {
    margin-top: 60px;
    padding-bottom: 70px;
    text-align: center;
	background:#57bed5;
}

.testimonials h3 {
    font-family: 'Muli';
    font-size: 50px;
    font-weight: 400;
	color:#FFF;
    line-height: 54px;
}

.testimonials p {
	margin-top: 30px;
    font-size: 22px;
    color: #FFF;
    line-height: 36px;
}

.testimonial-single {
	display: inline-block;
}

.testimonial-single p {
	display: none;
}

.testimonial-single-image {
	display: inline-block;
	width: 58px;
	margin: 0 5px 10px 5px;
}

.testimonial-single-image img {
	width: 100%;
	opacity: 0.5;
	cursor: pointer;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.testimonial-active {
	padding-bottom: 20px;
}

.testimonial-quote {
	font-family: 'Muli';
	font-size: 90px;
	line-height: 70px;
	color: #FFF;
}


/***** Who's behind this *****/

.whos-behind-container {
    margin: 0 auto;
    padding-bottom: 60px;
    color: #888;
    text-align: center;
}

.whos-behind {
    margin-top: 60px;
    padding-bottom: 10px;
}

.whos-behind h3 {    
    font-family: 'Muli';
    font-size: 50px;
    font-weight: 400;
    line-height: 54px;
}

.whos-behind p {
	margin-top: 30px;
	padding: 0 120px;
    font-size: 22px;
    line-height: 36px;
}

.whos-behind-box-1 {
	margin-top: 30px;
}

.whos-behind-box-1 h4 {
	padding: 10px 0 0 0;
	font-size: 30px;
    font-weight: 300;
    line-height: 34px;
}

.whos-behind-box-1 h5 {
	padding-bottom: 7px;
	font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    color: #888;
    color: #888;
    text-transform: uppercase;
}

.whos-behind-box-1 p {
	font-size: 18px;
    line-height: 32px;
}

.whos-behind-box-1 .whos-behind-photo {
	position: relative;
    width: 142px;
    height: 142px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
}

.whos-behind-box-1 .whos-behind-photo img {
	width: 100%;
	-moz-border-radius: 85px;
	-webkit-border-radius: 85px;
	border-radius: 85px;
}

.whos-behind-box-1 .whos-behind-photo .whos-behind-social {
	position: absolute;
	top: -150px;
	left: 0;
    width: 142px;
    height: 142px;
    padding-top: 60px;
    background: #fff;
    opacity: 0;
	-moz-border-radius: 85px;
	-webkit-border-radius: 85px;
	border-radius: 85px;
	-o-transition: all .4s;
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
	-ms-transition: all .4s;
	transition: all .4s;
}

.whos-behind-box-1 .whos-behind-photo:hover .whos-behind-social {
	top: 0;
	opacity: 1;
}

.whos-behind-box-1 .whos-behind-photo .whos-behind-social, 
.whos-behind-box-1 .whos-behind-photo .whos-behind-social a, 
.whos-behind-box-1 .whos-behind-photo .whos-behind-social a:hover {
	font-size: 18px;
	color: #888;
	line-height: 20px;
}

.whos-behind-box-1 .whos-behind-photo .whos-behind-social a {
	margin: 0 4px;
}

/** Latest tweets **/

.latest-tweets {
    margin-top: 40px;
	background: #57bed5;
}

.latest-tweets h4 {
	padding: 0 0 10px 0;
	font-size: 30px;
    font-weight: 300;
    line-height: 34px;
	color:#fff;
}

.latest-tweets p {
	font-size: 18px;
    line-height: 32px;
    word-wrap: break-word;
}

.latest-tweets a, .latest-tweets a:focus { color: #fff; }
.latest-tweets a:hover { color: #fff; border-bottom: 1px dotted #fff; }

.latest-tweets ul {
	margin: 20px 0 0 0;
	padding: 0;
	-webkit-padding-start: 0;
}

.latest-tweets li {
	margin: 0 5px;
	display: inline-block;
	list-style: none;
}

.latest-tweets li .tweet_nav {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #57bed5;
	background:#57bed5;
	cursor: pointer;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}


/***** How to contact us *****/

.contact {
    margin-top: 60px;
    padding-bottom: 20px;
    text-align: center;
}

.contact h3 {
    font-family: 'Muli';
    font-size: 50px;
    font-weight: 400;
    color: #555;
    line-height: 54px;
}

.contact p {
	margin-top: 30px;
	padding: 0 120px;
    font-size: 22px;
    color: #888;
    line-height: 36px;
}

.contact-form, 
.contact-address {
	padding-bottom: 80px;
}

.contact-form h4, 
.contact-address h4 {
	padding: 0 0 10px 0;
	font-size: 30px;
    font-weight: 300;
    color: #555;
    line-height: 34px;
}

.contact-form p {
	margin: 15px 0 0 0;
	font-size: 18px;
	color: #888;
	line-height: 32px;
}

.contact-form form {
	margin: 15px 0 0 0;
}

.contact-form form input, 
.contact-form form textarea {
    width: 90%;
    height: 52px;
    margin-bottom: 20px;
}

.contact-form form textarea {
	height: 162px;
}

.contact-form form button {
    width: 130px;
    height: 52px;
}

.contact-form form .contact-error {
	border-color: #6d9bb5;
}

.contact-address .map {
	height: 210px;
	margin: 15px 0 40px 0;
}

.contact-address p {
	margin-bottom: 5px;
	font-size: 18px;
	color: #888;
    line-height: 32px;
}

.contact-address p i {
	padding-right: 15px;
	font-size: 24px;
	color: #ccc;
	vertical-align: middle;
}


/***** Footer *****/

footer {
	padding: 20px 0 16px 0;
	background: #57bed5;
}

.footer-copyright p {
	margin: 0;
	font-size: 18px;
    line-height: 32px;
    color: #fff;
}

.footer-social {
	text-align: right;
	color:#76a441;
}
