
.button-1 {
	display: inline-block;
	height: 52px;
	margin: 0;
    padding: 0 20px;
    border: 1px solid #fff;
    font-size: 22px;
    line-height: 48px;
    color: #fff;
}

.button-1:hover {
	background: #6d9bb5;
	border: 1px solid #6d9bb5;
	color: #fff;
}

.button-2 {
	display: inline-block;
	height: 52px;
	margin: 0;
    padding: 0 20px;
    background: #ccc;
    font-size: 22px;
    line-height: 48px;
    color: #fff;
}

.button-2:hover {
	background: #fff;
    color: #888;
}
	