body {
    font-family: 'Nunito', sans-serif;
    font-size: 18pt;
}
.color1 {
    background-color: #ddddd0;
}
.color2 {
    background-color: #44b2c8;
}
.color3 {
    background-color: #61973c;
}
.color4 {
    background-color: #a8c942;
}
.color5 {
    background-color: #f3e281;
}
.colorWhite {
    background-color: white;
}
.colorBlack {
    background-color: black;
}

.navbar {
    font-size: 14pt;
    background-color: #44b2c8;
}
.navbar-header {
    background-color: #44b2c8;
}
.navbar-inverse {
    background-color: #44b2c8;
    border-color: #44b2c8;
}

.navbar-inverse .navbar-brand {
    color: white;
}
.navbar-brand {
    color: white;
}
.navbar-inverse .navbar-nav > li > a {
    background-color: inherit;
    color: white;
}
.navbar-inverse .navbar-nav > a, .navbar-inverse .navbar-nav > a:hover, .navbar-inverse .navbar-nav > a:focus {
    background-color: inherit;
    color: white;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: inherit;
    color: white;
}
#logo {
    margin-top:-10px;
}
h1, h2, h3 {
    color: #44b2c8;
}
h1 {
    font-size: 4em;
}