
.button-1 {
	display: inline-block;
	height: 52px;
	margin: 0;
    padding: 0 20px;
    border: 1px solid #73a44f;
    font-size: 22px;
    line-height: 48px;
    color: #73a44f;
}

.button-1:hover {
	background: #73a44f;
	border: 1px solid #73a44f;
	color: #fff;
}

.button-2 {
	display: inline-block;
	height: 52px;
	margin: 0;
    padding: 0 20px;
    background: #ccc;
    font-size: 22px;
    line-height: 48px;
    color: #fff;
}

.button-2:hover {
	background: #fff;
    color: #888;
}
	
